

::selection{
  background: rgba(26,188,156,0.3);
}
.wrapper{
  width: 100%;
  background: #f9f9f9;
  border-radius: 5px;
  position: relative;
}
.wrapper .title{
  height: 90px;
  background: #16a085;
  border-radius: 5px 5px 0 0;
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper .loginForm{
  padding: 30px 25px 25px 25px;
}
.wrapper .loginForm .form-group{
  height: 45px;
  margin-bottom: 15px;
  position: relative;
}
.wrapper .loginForm .form-group input{
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 110px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  font-size: 16px;
  transition: all 0.3s ease;
  
}
.loginForm .form-group input:focus{
  border-color: #16a085;
  box-shadow: inset 0px 0px 2px 2px rgba(26,188,156,0.25);
}
.loginForm .form-group input::placeholder{
  color: #999;
}
.wrapper .loginForm .form-group label{
  position: absolute;
  width: 100px;
  height: 100%;
  line-height: normal;
  color: #fff;
  font-size: 16px;
  background: #16a085;
  border: 1px solid #16a085;
  border-radius: 5px 0 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: bold;
}
.wrapper .loginForm .pass{
  margin: -8px 0 20px 0;
}
.wrapper .loginForm .pass a{
  color: #16a085;
  font-size: 17px;
  text-decoration: none;
}

.wrapper .loginForm .button input{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding-left: 0px;
  background: #16a085;
  border: 1px solid #16a085;
  cursor: pointer;
  text-align: center;
}
.loginForm .button input:hover{
  background: #12876f;
}
.wrapper .loginForm .signup-link{
  text-align: center;
  margin-top: 20px;
  font-size: 17px;
}
.wrapper .loginForm .signup-link a{
  color: #16a085;
  text-decoration: none;
}
.loginForm .signup-link a:hover{
  text-decoration: underline;
}
.modal_close_btn{position:absolute; top: 10px; right: 10px; transition: all 0.3s;}
.modal_close_btn:hover{cursor: pointer; transform: scale(0.8);}